# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
garand-sticky-1.0.3-20-g5cfc20c.zip
garand-sticky-1.0.3-20-g5cfc20c/garand-sticky-5cfc20c/bower.json
garand-sticky-1.0.3-20-g5cfc20c/garand-sticky-5cfc20c/example-header.html
garand-sticky-1.0.3-20-g5cfc20c/garand-sticky-5cfc20c/jquery.sticky.js
garand-sticky-1.0.3-20-g5cfc20c/garand-sticky-5cfc20c/README.md
garand-sticky-1.0.3-20-g5cfc20c/garand-sticky-5cfc20c/LICENSE.md
